.panel-body {
  margin: 80px;
  margin-top: 5px;
}
#front-showing {
  display: none;
  font-style: italic;
  font-weight: bold;
}
#back-showing {
  display: none;
  font-style: italic;
  font-weight: bold;
}
.clickable {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  color: black;
}
#info {
  width: 250px;
  margin: 40px;
}
.form-control{
  width: 200px;
}
.form-control-box {
  width: 50px;
}
.btn {
  margin-top: 10px;
}
#answer {
  display: none;
  font-weight: bold;
  font-size: medium;
}
.results {
  font-style: italic;
}
#disclaimer-small {
  font-size: small;
  font-style: italic;
}